@model Neighborly_3.Models.Task2

@{
    ViewBag.Title = "You want to offer help";
}

<h2>Task Details</h2>

<div>
    <h4>Here are the Details</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.TaskTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskTitle)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.IsDone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeStamp)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.IsAssigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAssigned)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.HelpProviderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HelpProviderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskCreatorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskCreatorID)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Offer Help", "Edit", new { id = Model.TaskID }, new { @class = "btn btn-default", role = "button" })<text> </text>) |
    @Html.ActionLink("Back to List", "Index")
</p>
@*@Html.ActionLink("Edit", "Edit", new { id = item.TaskID }, new { @class = "btn btn-default", role = "button" })<text> </text>*@