@model IEnumerable<Neighborly_3.Models.Task2>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Task2", FormMethod.Get)) //"page","Controller", formMethod invokes get method from controller
{
    //names "search" match. most of the time these are strings. int.parse if you need it to be an int.
    @Html.RadioButton("sort", "Descending", true)<span>Sort Descending</span>
    @Html.RadioButton("sort", "Ascending")<span>Sort Ascending</span>
    @Html.TextBox("search");
    <input type="submit" name="submit" value="Search" />
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAssigned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HelpProviderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskCreatorID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TaskDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAssigned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HelpProviderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskCreatorID)
        </td>
        <td>
            @if (ViewBag.userID == item.TaskCreatorID)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.TaskID }) <text> | </text>
                @Html.ActionLink("Delete", "Delete", new { id = item.TaskID }) <text> | </text>
}

            @Html.ActionLink("Details", "Details", new { id=item.TaskID }) 
          
        </td>
    </tr>
}

</table>
